.hero {
  height: 400px;
  background: none;
  background-size: cover;
  position: relative;
  background-position: center;
  filter: brightness(25%);
}

.hero::after {
  content: "";
  display: block;
  opacity: .4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
}

.hero * {
  position: absolute;
  z-index: 2;
}

.hero h1, .hero h2 {
  color: whitesmoke;
}

.hero h2 {
  font-size: 30px;
  padding-top: 100px;
  margin-top: 0;
  font-family: sans-serif;
}

.profilePic {
    border-radius:3%;
    padding: 3px;
    border: 3px solid whitesmoke;
}