.footer {
  background: transparent;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 17px;
  color: rgb(10, 9, 9);;
  text-align: center;
  position: relative;
  width: 100%;
  left: 0px;
  bottom: 0px;
  margin-top: 0rem;
  margin-bottom: orem;
  padding: 0rem;
  height: 40px;
}